# Node
node_modules/
npm-debug.log*
yarn-error.log

# Angular build output
dist/
.angular/

# Environment
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Docker
*.log
